:root {
  --color-primary: #8d99c6;
  --color-black: #424963;
  --color-silver: #f7f8fc;
  --color-gray: #e9e9e9;
  --font-family: 'Proxima Nova', 'Lato', San Francisco, -apple-system, BlinkMacSystemFont, ".SFSNText-Regular", Segoe UI, Ubuntu, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: var(--font-family);
  font-size: 14px;
  color: var(--color-black);
  background: var(--color-silver);
}